html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-moz-selection {
  color: #ffffff;
  background: #e52b08;
}

::selection {
  color: #ffffff;
  background: #e52b08;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
